@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  transition: all .4s;
}

.MuiAutocomplete-popper {
  transition: all 0s !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(224, 224, 224), 216, 216); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170); 
}

.mariposa1 {
  animation-name: mauno;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.mariposa2 {
  animation-name: mados;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes mauno {
  0% {
    top: -70px;
    right: 0px;
  }

  40% {
    top: -65px;
    right: 10px;
  }

  70% {
    top: -62px;
    right: 6px;
  }
}

@keyframes mados {
  0% {
    top: 55px;
    right: 30px;
  }

  40% {
    top: 60px;
    right: 22px;
  }

  70% {
    top: 52px;
    right: 35px;
  }
}